apiVersion: v1
kind: Service
metadata:
  name: api-service
  namespace: oracle-monitor
spec:
  type: NodePort
  selector:
    app: api
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080
      nodePort: 30080
